.code-wrap {
  display: flex;
  margin: 50px auto;
  padding-left: 50px;
  padding-right: 25px;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1152px) {
  .code-wrap {
    flex-direction: row;
  }
}

.column {
  width: 300px;
  margin: 50px;
}

button {
  width: 100%;
  height: 50px;
  margin: auto;
}

.line:nth-child(3) {
  margin-left: 20px;
}

.number {
  color: red;
}

.variable {
  color: blue;
}

.string-literal,
.template-literal {
  color: green;
}

.reserved-keyword,
.variable {
  font-weight: bold;
}
