.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-wrap {
  display: flex;
  margin: 50px auto;
  align-items: center;
}

.column {
  width: 300px;
  margin: 50px;
}

button {
  width: 100%;
  height: 50px;
  margin: auto;
}

.line:nth-child(3) {
  margin-left: 20px;
}
